<div id="login-box">
    <%= form_for(@project) do |f| %>
        <% unless @error.nil? %>
		    <div class="error">
			    <p><%= @error %></p>
            </div>
        <% end %>
		<!-- Add class="error-fieldset" to the fieldset tag in case there is an error, this class has to be added to any fieldset that has an error -->
		<fieldset>
		    <label>Project name</label>
            <input type="text" class="login-text" name="name" maxlength="100" />
			<!-- Message to be shown below the filed which has a problem <p>Improper email format</p> -->
        </fieldset>
		<fieldset>
		    <label>Description</label>
            <textarea rows="" cols="" name="description" class="login-text"></textarea>
        </fieldset>
        <fieldset>
            <input type="submit" value="Create project">
        </fieldset>
    <% end %>
</div>

